# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
package-lock.json
yarn.lock
firebase.json
.firebaserc
.gradle/4.10.1/fileHashes/fileHashes.lock
.gradle/4.10.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.10.1/gc.properties
.gradle/4.10.1/fileChanges/last-build.bin
.gradle/buildOutputCleanup/cache.properties
android/app/.npmignore
.firebase/hosting.*

#Firebase
.firebase
.firebaserc
firebase.json
firebase-debug.log
